
<body>

<div id="container">

<header>
  <%= link_to image_tag("logo4.png", class: :logo), root_path %>
  <aside id="mainimg"><%= link_to image_tag("test3.jpg", class: :img) %></aside>         
<nav id="menubar">
<ul>
        <li><%= link_to 'ホーム', root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'イベント投稿',  new_event_path %></li>
        <li><%= link_to current_user.nickname, root_path  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %> </li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
      <% end %>
</ul>
</nav>
</header> 
<div id="contents">

<section id="new">
<h2>更新情報・お知らせ</h2>
<dl>
<dt>2020/11/22</dt>
<dd>新機機能の追加しました。</dd>
<dt>2020/11/20</dt>
<dd>オリジナルアプリ作成し始めました。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
<dt>20XX/00/00</dt>
<dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>

</dl>
</section>

<section id="new">
<h2>新規イベント</h2>


<% @events.each do |event| %>
<div class="list">
<dt><%= event.start.strftime('%Y/%m/%d') %></dt><dd><h4><%= link_to event.product, event_path(event.id) %></h4></dd>
<dl>
<dt><p>カテゴリー：</p></dt><dd><%= event.category.name %></dd>
<dt><p>開催地域：</p></dt><dd><%= event.delivery_area.name %></dd>
<dt><p>開始時間：</p></dt><dd><%= event.time_start.strftime('%H:%M') %>〜（<%= event.time_all.name %>）</dd>
<dt><p>参加料金：</p></dt><dd><%= event.price %>円</dd>
</dl>
</div>
<% end %>
</section>

<h1>Ajax#index</h1>
<p id="hoge">赤色になるよ</p>

<script>
  $("#hoge").css("color","red")
</script>

<script>
  $("#test").html("ミッションコンプリート！");
  $("#test").css("color","red");
</script>

<section>

<%= render "shared/footer" %>

</body>
</html>
